.owners {
    display: flex;
    justify-content: space-evenly;
}

.icon--owner {
    width: 200x;
    height: 200px;
}

.icon--owner--small {
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
}

.owner-card {
    width: 15rem;
    margin: 10px;
}

.edit-owner-card {
    width: 30rem;
}

.add-owner-card {
    width: 40rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.ownerButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }

  .ownerForm {
    padding: 20px;
}