.employees {
    display: flex;
    justify-content: space-evenly;
}

.icon--employee {
    width: 200x;
    height: 200px;
}

.icon--employee--small {
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
}

.employees-delete-btn, .employees-edit-btn {
    display: inline-block;
}

.employee-card {
    width: 15rem;
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}